.auth-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.auth-button-container > button {
    width: 100%;
    max-width: 30rem;
}

.auth-button-container > h1 {
    font-size: 2rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 1rem;
}
